html, body {
    height: 100%;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.carousel {
    width: 1440px;
    margin: 0 auto;
}

.carousel-inner {
    height: 420px;
}

.carousel-item {
    height: 100%;
}